.page {
  padding: 0 50px;
}

.page > .page-id {
  color: white;
  padding: 10px 0;
}
.page > .text {
  padding: 10px 0;
  text-align: justify;
}
.page > .choices {
  color: white;
  padding: 10px 0;
}

.page > .choices > .choice {
  cursor: pointer;
  padding: 5px 0;
}
.page > .choices > .choice:hover {
  background-color: #111;
}
